.background2 {
    position: fixed;
    z-index: 900;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c567b;
    opacity: 0.8;
}